<div class="clearfix">
  <div class="col col-2 p2">&nbsp;</div>
  <div class="col col-8 p2 white">
    <h1 class="h1 center">&nbsp</h1>
  </div>
  <div class="col col-2 p2">&nbsp;</div>
</div>

<div class="clearfix">
  <img src="https://s-media-cache-ak0.pinimg.com/736x/aa/e9/fa/aae9fa8f8275b347515627de7e537d18.jpg"
    width="662px"
    height="662px"
    class="block mx-auto logo-image" />
</div>

<div class="clearfix">
  <div class="col col-2 p2">&nbsp;</div>
  <div class="col col-8 p2 white">
    <h1 class="h1 center">You're all set.</h1>
  </div>
  <div class="col col-2 p2">&nbsp;</div>
</div>

<script type="text/javascript">
  window.location = "<%= raw @after_success_url -%>";
</script>
