FERNET_SECRET="$(dd if=/dev/urandom bs=32 count=1 2>/dev/null | openssl base64)"
HEROKU_OAUTH_ID=""
HEROKU_OAUTH_SECRET=""
RAILS_ENV=""
RAILS_SECRET_KEY_BASE=""
REDIS_URL="redis://localhost:6379"
SLACK_APP_URL="http://localhost:5000"
SLACK_SLASH_COMMAND_TOKEN=""
SLACK_OAUTH_ID=""
SLACK_OAUTH_SECRET=""
