<header>
  <h1>/heroku</h1>
  <h2>ChatOps deployments for Heroku pipelines in Flock</h2>
</header>

<section class="setup">
  <nav>
    <ol class="instrcutions">
      <li class="flock">
        <a href="https://apps.flock.co/f5aa0512-fab1-4210-992a-a7d50f2963a9">
          <%= image_tag "flock.png", size: "120x120" %>
          <span class="title">Flock</span>
        </a>
      </li>

      <li class="heroku">
        <a href="/auth/heroku">
          <%= render partial: "heroku-logo" %>
          <span class="title">Heroku</span>
        </a>
      </li>

      <li class="github">
        <a href="/auth/github">
          <%= render partial: "github-logo" %>
          <span class="title">GitHub</span>
        </a>
      </li>
    </ol>
  </nav>
  <div id="instructions">
    <%= image_tag "screenshot.png", class: "screenshot" %>
  </div>
</section>
