<header>
  <h1>slash-heroku</h1>
  <h2>ChatOps Deployments for Heroku pipelines in Slack</h2>
</header>

<div class="div">
  <nav>
    <ul id="platform" class="tabNavigation">
      <li class="slack">
        <a href="#slack">
          <span class="icon"></span>
          <span class="title">Slack</span>
        </a>
      </li>

      <li class="heroku">
        <a href="#heroku">
          <span class="icon"></span>
          <span class="title">Heroku</span>
        </a>
      </li>

      <li class="github">
        <a href="#github">
          <span class="icon"></span>
          <span class="title">GitHub</span>
        </a>
      </li>
    </ul>
  </nav>
  <div id="instructions">
    <p class="download">
      <a href="/auth/slack" class="button">Install Heroku ChatOps (Beta)</a>
    </p>
    <h3>What is it?</h3>
    <p>slash-heroku is Slack application that provides ChatOps2 functionality for Heroku. Once installed, it provides a slash-command as '/heroku',  '/h' for short. This provides functionality similar to the Heroku Toolbelt with the added functionality of deployments. It achieves this with OAuth and Heroku pipelines.</p>

    <p>With pipelines you can group Heroku applications into environments and give them easy to remember names. Instead of remembering that your production application is "local-co-op-production" and your staging application is "local-co-op-staging", you represent them as one app "co-op" with a staging and production environment. When you deploy with slash-deploy you use the pipeline name.</p>

    <p></p>
    <h3>Getting Started</h3>
    <ul>
      <li>Install slash-heroku</li>
      <li>Create a heroku pipeline for your apps</li>
      <li>Connect the pipeline with GitHub to associate a repository for both apps.</li>
      <li>Insure that you can deploy it '/h where can i deploy &lt;myapp&gt;'.</li>
      <li>Deploy your application. '/h deploy myapp to prod'</li>
    </ul>
    <h3>Technical Details</h3>
    <p>Slash-Heroku requires you to authenticate with Heroku and GitHub via OAuth in order to make requests on your behalf. If you want to revoke access at any time you can do this by running "/h auth:logout". I've taken precautions to keep your data safe and take the security of the OAuth tokens seriously.</p>
  </div>
</div>
