<header>
  <h1>slash-heroku</h1>
  <h2>ChatOps Deployments for Heroku pipelines in Slack</h2>
</header>

<div class="div">
  <nav>
    <ul id="platform" class="tabNavigation">
      <li class="slack">
        <a href="#slack">
          <span class="icon"></span>
          <span class="title">Slack</span>
        </a>
      </li>

      <li class="heroku">
        <a href="#heroku">
          <span class="icon"></span>
          <span class="title">Heroku</span>
        </a>
      </li>

      <li class="github">
        <a href="#github">
          <span class="icon"></span>
          <span class="title">GitHub</span>
        </a>
      </li>
    </ul>
  </nav>
  <div id="instructions">
    <p class="download">
      <a href="/auth/slack" class="button">Install Heroku ChatOps (Beta)</a>
    </p>

    <img class="screenshot" alt="ChatOps with Slack, GitHub, and Heroku" src="https://cloud.githubusercontent.com/assets/38/14947294/c775c7dc-0fe5-11e6-9453-16be5b1b4ab5.png" />
  </div>
</div>
