<header>
  <h1>/heroku</h1>
  <h2>ChatOps deployments for Heroku pipelines in flock</h2>
</header>

<section class="setup">
  <nav>
    <ol class="instrcutions">
      <li class="flock">
        <a href="/auth/flock">
          <%= image_tag "logo-flock", size: "120x120" %>
          <span class="title">Flock</span>
        </a>
      </li>

      <li class="heroku">
        <a href="/auth/heroku">
          <%= render partial: "heroku-logo" %>
          <span class="title">Heroku</span>
        </a>
      </li>

      <li class="github">
        <a href="/auth/github">
          <%= render partial: "github-logo" %>
          <span class="title">GitHub</span>
        </a>
      </li>
    </ol>
  </nav>
  <div id="instructions">
    <p class="download">
      <a href="/auth/flock_install" class="button">Install Heroku ChatOps (Beta)</a>
    </p>

    <img class="screenshot" alt="ChatOps with Flock, GitHub, and Heroku" src="" />
  </div>
</section>
