<header>
  <h1>Heroku ChatOps for Slack</h1>
  <h2>Collaborative deploying and debugging in chat</h2>
</header>

<div class="div">
  <nav>
    <ul id="platform" class="tabNavigation">
      <li class="standalone">
        <a href="#slack">
          <span class="icon"></span>
          <span class="title">Slack</span>
        </a>
      </li>

      <li class="standalone">
        <a href="#heroku">
          <span class="icon"></span>
          <span class="title">Heroku</span>
        </a>
      </li>

      <li class="standalone">
        <a href="#github">
          <span class="icon"></span>
          <span class="title">GitHub</span>
        </a>
      </li>
    </ul>
  </nav>
  <div id="instructions">
    <p class="download">
      <a href="/auth/slack" class="button">Install Heroku ChatOps (Beta)</a>
    </p>
  </div>
</div>
