<header>
  <h1>Heroku ChatOps for Slack</h1>
  <h2>Support is limited as this project evolves</h2>
</header>

<div class="div">
  <div id="instructions">
    <p class="download">
      <a href="https://github.com/atmos/slash-heroku/issues" class="button">View Open Issues</a>
    </p>
  </div>
</div>
